<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css">
</head>
<body class="bg-black">
<div class="wallpaper">
<div class="flex justify-center mt-4 mb-10">
<a class="font-bold text-4xl pr-2 text-white">Car Bidder</a>
    <img src="../static/images/car-icon.png" alt="This image could not be loaded :(" width="45px" height="45px">
</div>


<div th:each="cars : ${cars}" class="flex flex-col items-center mt-4">

    <a class="flex flex-col items-center bg-slate-200 border-2 border-slate-500 rounded-lg w-2/4 py-6" th:href="@{/viewCar/{id}(id=${cars.id})}">

        <!--  <img th:src="@{/images/{imageName}(imageName=${cars.image})}" alt="Car image could not be loaded :("> "Request header is too large" -->


        <h1 id="title" class="font-bold text-2xl pb-2" th:text="*{cars.title}"></h1>

      <p th:text="*{cars.description}" id="desc"></p>

  <div th:unless="${cars.bought}">
      <label for="current" class="pt-2">Current Bid:</label>
      <p th:text="*{'$' + cars.currentBid}" id="current"></p>

      <label for="buyOut" class="pt-2">Buy out price:</label>
      <p th:text="*{'$' + cars.buyOutPrice}" id="buyOut"></p>
  </div>
          <div th:if="${cars.bought}">
              <h1 class="font-bold text-3xl text-red-600">SOLD!</h1>
          </div>
      </a>

          <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="mt-2">
              <a th:href="@{/editMyCar(carId=${cars.id})}" class="text-red-600">Edit</a>
              <a th:href="@{/deleteCar/{id}(id=${cars.id})}"  class="text-red-600" onclick="return confirm('Är du säker på att du vill ta bort den här bilen?')">Delete</a>
          </div>
</div>



  <div class="flex flex-row justify-center mt-8 ">
  <a th:href="@{/createAd}" class="bg-green-500 font-bold text-4xl px-4 pb-2 rounded-full mb-10">+</a>
  </div>



  <div th:if="${#authentication.principal != null}" class="fixed top-0 right-0 p-4">
      <div th:object="${userEntity}" class="flex justify-center">
      <a class="flex flex-col" th:href="@{/myProfile/{id}(id=${userEntity.id})}">
          <img src="../static/images/user-icon.png" alt="This image could not be loaded :(" width="40px" height="40px" >
          <p  th:text="*{username}" class="text-white"></p>
      <p th:text="*{'$' + points}" class="text-white"></p>
      </a>
      </div>
  </div>
</div>


  </body>
  </html>