<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css">
</head>
<body class="bg-black">
<div class="flex justify-center mt-4 mb-10">
    <a class="font-bold text-4xl pr-2 text-white" th:href="@{/}">Car Bidder</a>
    <img src="../static/images/car-icon.png" alt="This image could not be loaded :(" width="45px" height="45px">
</div>
    <div th:object="${userEntity}" class="flex justify-center">

        <div class="flex flex-col bg-slate-200 items-center py-4 w-2/4 border-2 border-slate-500 rounded-lg">
        <img src="../static/images/user.png" alt="This image could not be loaded :(" width="45px" height="45px">

        <h1 th:text="*{username}" class="font-bold text-xl"></h1>
            <p class="pt-2" th:text="*{role.name()}"></p>
        <p th:text="*{'$' + points}"></p>
            <label for="nonExpired" class="pt-2">Account Non Expired:</label>
        <p th:text="*{accountNonExpired}" id="nonExpired"></p>

            <label for="nonLocked" class="pt-2">Account Non Locked:</label>
        <p th:text="*{accountNonLocked}" id="nonLocked"></p>

            <label for="creNonExpired" class="pt-2">Credentials Non Expired:</label>
        <p th:text="*{credentialsNonExpired}" id="creNonExpired"></p>
        </div>
    </div>
<div class="flex justify-center pt-6">
    <a th:href="@{/logout}" class="bg-white px-4 py-2 rounded-lg border-2 border-slate-400 mr-4">Sign out!</a>
    <a th:href="@{/myWinnings}" class="bg-white px-4 py-2 rounded-lg border-2 border-slate-400 mr-4">My Winnings!</a>
    <a th:href="@{/myCars}" class="bg-white px-4 py-2 rounded-lg border-2 border-slate-400">My Cars!</a>

</div>


</body>
</html>