<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Enough :(</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-200">
<div class="flex justify-center mt-4 mb-10">
    <a th:href="@{/}" class="font-bold text-4xl pr-2">Car Bider</a>
    <img src="../static/images/sport-car.png" alt="This image could not be loaded :(" width="45px" height="45px">
</div>

<h1>You do not have enough :(</h1>

<a th:href="@{/}">Home</a>
</body>
</html>