<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css">
</head>
<body class="bg-black">
<div class="flex justify-center mt-4 mb-10">
    <a class="font-bold text-4xl pr-2 text-white" th:href="@{/}">Car Bidder</a>
    <img src="../static/images/car-icon.png" alt="This image could not be loaded :(" width="45px" height="45px">
</div>

<div class="flex justify-center text-white">
  <div class="flex flex-col">
    <h1 class="font-bold text-xl">You cannot bid or buy out your own car!</h1>

  </div>
</div>

</body>
</html>