<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Car Page</title>
</head>
<body>
<div th:object="${carEntity}">
    <h1 th:text="*{title}"></h1>
    <p th:text="*{description}"></p>
    <p th:text="*{startingBid}"></p>
    <p th:text="*{buyOutPrice}"></p>
    <p th:text="*{email}"></p>


    <a th:href="'mailto:' + *{email}">Contact Seller!</a>
    <br>


    <form th:action="@{/place-bet}" method="post">
        <input type="hidden" th:name="carId" th:value="*{id}">

        <label for="currentBid">Current bid:</label>
        <p th:text="*{startingBid}" id="currentBid"></p>

        <label for="price">Place bet!</label>
        <br>
        <input type="text" id="price" th:name="startingBid" placeholder="place bet...">
        <br>

        <button type="submit">Place bet!</button>


    </form>

</div>
</body>
</html>